PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/angular_app
SQLSERVER_HOST=localhost
SQLSERVER_INSTANCE=SQLEXPRESS
SQLSERVER_PORT=
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=YourStrongPassword123!
SQLSERVER_DATABASE=angular_app
SQLSERVER_ENCRYPT=false
JWT_SECRET=super_secret_change_me
